<!DOCTYPE html>
<html lang="en">
<head>
   {{>metaTag}}
</head>
<body>
    <!-- ######### main nav bar ############### -->
    {{>header}}
    <!-- main nav bar ends here ..... -->

    


    <!-- footer section here ... -->
    {{>footer}}
</body>
</html>