<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
</head>
<body>
    <!-- ######### main nav bar ############### -->
    {{>header}}
    <!-- main nav bar ends here ..... -->


    <div class="main-content">
        <div class="father">
            <div class="box1">
                <h1>i am full stack web developer ,</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias culpa, dolores officia voluptatum a blanditiis veritatis perferendis unde fugiat facilis nostrum non, obcaecati nemo quis?</p>
                <div class="btn">
                    <button class="my-btn"><a href="register.htm" style="color : white">register</a></button>
                    <button class="my-btn"><a href="login.htm" style="color : white">login</a></button>
                </div>
            </div>
            <div class="box2">
                <img src="./images/img1.svg" alt="later onnnn">
            </div>
        </div>
    </div>


    <!-- footer section here ... -->
    {{>footer}}
</body>
</html>